.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 30%;
  height: 8em;
  min-height: 5em;
  min-height: fit-content;
  background: rgba(130, 130, 130, 0.1);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1em 1em;
}

@media (max-width: 1200px) {
  .card {
    width: 100%;
  }
}

.card:hover {
  border: 1px solid rgba(150, 150, 150, 0.5);
}

.logo {
  margin: 0px 0 10px;
}

.heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}
